#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li {
  list-style: none;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
li.form {
  border: solid 3px #646cff;
  background-color: #babdf8;
  margin: 5px;
  padding: 15px;
  width: 400px;
  border-radius: 10px;
  cursor: pointer;
}
li.form:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input {
  border-radius: 5px;
  padding: 5px;
}

input:focus {
  outline: none;
}

.button {
  color: #fff;
  background-color:black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px rgb(62, 62, 62);
}

.button:hover {
  background-color: #1a1a1a;
}

.button:active {
  background-color: #0b0b0b;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
